<!DOCTYPE html>
<html>
<head>
	<title>Login/Register</title>
</head>
<body>
	<form method="GET" action="/verify/mobile">
		<label>Mobile</label>
		<input type="number" name="number">
		<button>Generate OTP</button>
	</form>
</body>
</html>